# nix build symlinks
result*

# KiCad project-local history (auto-created by the launcher)
.history/

# kicad tmp files
*/pcbs/source
*/pcbs/points
*/pcbs/outlines/_*
*/pcbs/outlines/*.yaml
*/pcbs/outlines/*.svg
*/pcbs/pcbs/fp-info-cache
*/pcbs/pcbs/*-backups
*/pcb/pcbs/*.kicad_prl
*.lck

# zmk firmware binaries
*.uf2

*.zip
keyboard-drc.rpt
*.kicad_prl
