if SHIELD_THENAR_LEFT

config ZMK_KEYBOARD_NAME
    default "Thenar"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_THENAR_LEFT || SHIELD_THENAR_RIGHT

config ZMK_SPLIT
    default y

# Mouse scroll (&msc) + mouse click (&mkp) for the scrollwheel encoder.
config ZMK_POINTING
    default y

endif
